# Python Recap solution
#### 02.2 Writing Smart Contracts
##### Peter Gruber (peter.gruber@usi.ch)
2023-02-07
* Recap of basic Pyhton operations
* Variables and types
* A few rearely used Python commands

### ❗️ Before we get started
Oberve the `[]`, `[*]` and `[1]`

## Variables and types

**Create the following variables**
* `a` cotaining integer 5
* `b` containig real 5
* `c` containing "5" as text variable
* `d` containing the logical value for "correct"

In [166]:
a = 5
b = 5.0
c = "5"
d = True

In [167]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

### Converting data types

In [168]:
# To integer
a1 = int(b);     print(a1, type(a1))
a2 = int(c);     print(a2, type(a2))
a3 = int(d);     print(a3, type(a3))

5 <class 'int'>
5 <class 'int'>
1 <class 'int'>

In [169]:
# To float
b1 = float(a);   print(b1, type(b1))

5.0 <class 'float'>

In [170]:
# To string
c1 = str(a);     print(c1, type(c1))
c2 = str(d);     print(c2, type(c2))

5 <class 'str'>
True <class 'str'>

**Exercise** 

Is 1 thousand always an integer? Check the type if you express this number (a) directly and (b) as $10^3$

In [171]:
# Python code goes here
print(type(1000))
print(type(1e3))

# bonus
print(type(1_000))

<class 'int'>
<class 'float'>
<class 'int'>

### Comparisons and logical operators
* `==` equality
* `!=` inequality
* `and` is logical *and*
* `or` is logical *or*

In [172]:
print( 1==2 )
print( 1!=2 )
print( 1==1 and 2==2 )

False
True
True

**Exercise** Write the following conditions in Python (first assign `x=2.2`)

* $-2 \leq x \leq 4$
* $|x|<5$

In [173]:
# Python code goes here
x = 2.2
print(-2 <= x and x <= 4)
print(abs(x) < 5)

True
True

### Two lesser known operators
* `%` is modulus (remainder)
* `//` is floor division (integer part)

**Exercises**
* If we have four full weeks in January, how many days are left?
* How many full weeks are there in a year?
* Try to calcualte the full weeks in a year *without* `// ` **Hint:** use type conversion

In [174]:
# Python code goes here
print(31%7)
print(365//7)
print(int(365/7))

3
52
52

### Calculations with Integers
* Three chocolate bars cost 2 Dollars
* What is the price of a chocolate bar, if we can only use integer numbers?

In [175]:
# Idea number 1
total_price = 2   # US Dollars
number_bars = 3
int( total_price/number_bars )  # in Dollars

0

In [176]:
# Idea number 2
total_price = 2*100  # US Cents
number_bars = 3
int( total_price/number_bars )  # in Cents

66

## Working with lists (and for-loops)

Create a list called `myList` with the elements 0,1,2,...,5

In [177]:
# Python code goes here
myList = list(range(0,6))
myList = [0,1,2,3,4,5]

#### Subsetting
* Print the first element of the list
* Print the first three elements of the list
* Print the last element of the list
* **Hint:** Python starts counting at 0

In [178]:
# Python code goes here
print(myList[0])
print(myList[0:3])
print(myList[-1])

0
[0, 1, 2]
5

### What else can we do with a list?

Try this: type `myList.` and hit the `TAB` key

Now let us  ...
* add the boolean value for "correct" at the end of  `myList`
* add integer 1 at the beginning of the `myList`

At the end ...
* display `myList` 
* tell us how many items there are in `myList`
* tell us how often integer 1 appears in `myList`

In [179]:
# Python code goes here
myList.append(True)
myList.insert(0,1)

print(myList)
print(len(myList))
print(myList.count(1))             # <<- interesting! Discuss it

[1, 0, 1, 2, 3, 4, 5, True]
8
3

In [180]:
# Further discussion: why does 1 appear three times?
print(myList.count(1))
print(myList.count(True))

3
3

## Quick iterations through lists
In R (or MATLAB), we can something like this:
```R
vec <- c(1.2, 2.5, 3.2)
round(vec)
````

This will not work with a Python list.

In [181]:
numbers = [7.2, 5.5, -1.2, 3.9]
round(numbers)

TypeError: type list doesn't define __round__ method

### For loops
* For loops make it possible to iterate over an entire list
* Naming tradition
    * List with a **plural** word (*number**s***)
    * Individual element with a **singular** word (*number*)

In [182]:
for number in numbers:
    print(round(number))

7
6
-1
4

**Exercise**
* Write a for loop to each element of `numbers` to be positive

In [183]:
# Python code goes here
for number in numbers:
    print(number>0)

True
True
False
True

### List comprehension
* We cannot apply a function to a list
* Fast alternative `[expression(item) for item in list]`

In [184]:
# example: round all elements of a list
rounded = [round(number) for number in numbers]
print(rounded)

[7, 6, -1, 4]

**Exercise**
* Write a list comprehension to check for all elements of `numbers` whether they are positive or not

In [185]:
# Python code goes here
positive = [number>0 for number in numbers]
print(positive)

[True, True, False, True]

### *Calcuations with logicals

* **Remember**  the `True` is `1` and `False` is `0`
* Number of true observations: `sum(logical)`
* Fraction of true observations: `mean(logical)`

In [186]:
# Bonus
print(sum(positive))
import statistics
print(statistics.mean(positive))

3
0.75

## Dictionaries
* Use for named fields
* Often returned by APIs

In [187]:
account = {'Name': 'Mr Algo', 'ALGO' : 100, 'USDt' : 50}

In [188]:
account

{'Name': 'Mr Algo', 'ALGO': 100, 'USDt': 50}

In [189]:
account['ALGO']

100

### List inside a dictionary

In [190]:
account = {'Name': 'Mr Algo', 'transactions' : [50, 20, -5, -7]}

In [191]:
account['transactions']

[50, 20, -5, -7]

In [192]:
account['transactions'][0]

50

**Exercise** For the dictionary below, obtain ...

* The account number
* The value of the last deposit
* The sum of all deposits

In [193]:
# Python code goes here
account = {'name': 'Mr Algo', 'id': 1234567, 'deposits' : [50.2, 72.1, 18.9, 123.5]}
print(account['id'])
print(account['deposits'][-1])
print(sum(account['deposits']))

1234567
123.5
264.7

### *A complex list comprehension

In [194]:
account = {'Name': myname, 'holdings' : [{'id' : 'ALGO', 'amount' : 100},{'id' : 'USDt', 'amount' : 50}]}

In [195]:
account

{'Name': 'insert your name',
 'holdings': [{'id': 'ALGO', 'amount': 100}, {'id': 'USDt', 'amount': 50}]}

In [196]:
account['holdings']

[{'id': 'ALGO', 'amount': 100}, {'id': 'USDt', 'amount': 50}]

In [197]:
account['holdings'][0]

{'id': 'ALGO', 'amount': 100}

In [198]:
account['holdings'][0]['id']

'ALGO'

In [199]:
for coin in account['holdings']:
    print("The account holds {} of {}.".format(coin['id'],coin['amount']))

The account holds ALGO of 100.
The account holds USDt of 50.

In [200]:
for coin in account['holdings']:
    print("The account holds {amount} of {id}.".format(**coin))

The account holds 100 of ALGO.
The account holds 50 of USDt.

## Python Packages
* Python functionality is extended using packages

#### Import a package
* To use the statistics package, we need to import it

In [ ]:
import statistics

In [ ]:
numbers = [7.2, 5.5, -1.2, 3.9]
print(statistics.mean(numbers))

#### Import a package and shorten the name

In [5]:
import statistics as stat

In [6]:
numbers = [7.2, 5.5, -1.2, 3.9]
print(stat.mean(numbers))

3.85

#### Import a function from a package
* Use the function without the `package.`

In [7]:
from statistics import mean

In [8]:
numbers = [7.2, 5.5, -1.2, 3.9]
print(mean(numbers))

3.85

#### ❗️Install a package (only once)
* Install the Pandas package for dataframes

!pip install pandas