## Account Overview
#### 04.6 Winter School on Smart Contracts
##### Peter Gruber (peter.gruber@usi.ch)
2022-01-22

* Helper file to keep an overview over all our accounts

## Setup
See notebook 04.1, the lines below will always automatically load functions in `algo_util.py`, the 5 accounts and the Purestake credentials

In [1]:
# Loading shared code and credentials
import sys, os

codepath = '..'+os.path.sep+'..'+os.path.sep+'sharedCode'
sys.path.append(codepath)
from algo_util import *
cred = load_credentials()

# Shortcuts to directly access the 3 main accounts
MyAlgo  = cred['MyAlgo']
Alice   = cred['Alice']
Bob     = cred['Bob']
Charlie = cred['Charlie']
Dina    = cred['Dina']

In [2]:
from algosdk import account, mnemonic
from algosdk.v2client import algod
from algosdk import transaction
from algosdk.transaction import PaymentTxn
from algosdk.transaction import AssetConfigTxn, AssetTransferTxn, AssetFreezeTxn
from algosdk.transaction import LogicSig

import algosdk.error
import json
import base64
import pandas as pd

In [3]:
# Initialize the algod client (Testnet or Mainnet)
algod_client = algod.AlgodClient(algod_token='', algod_address=cred['algod_test'], headers=cred['purestake_token'])
algod_client.status()["last-round"]

27737431

## The Overview

In [4]:
# Get the holdings of one account on the web
print('https://testnet.algoexplorer.io/address/'+MyAlgo['public'])
print('https://testnet.algoexplorer.io/address/'+Alice['public'])
print('https://testnet.algoexplorer.io/address/'+Bob['public'])
print('https://testnet.algoexplorer.io/address/'+Charlie['public'])
print('https://testnet.algoexplorer.io/address/'+Dina['public'])
print('https://testnet.algoexplorer.io/address/'+ 'WSC234WDSXHLWICSZ5DVJNRZLJHHK23D3ZSP6MS2CJNII4ZDQTC367VUN4')

https://testnet.algoexplorer.io/address/33SG2MXXXQHP2ZMJUJ2DRKLRKTZ7DJBGKHFREPYCE3RXCUPYRL2LN57BSA
https://testnet.algoexplorer.io/address/GFJ3O3QBJ4H3KPXYA4MFTTDA7TMEPZXAEUHCSF3J6GEDAXMML4A55KYSL4
https://testnet.algoexplorer.io/address/MB4W4II5EEZ7VA5RGS74BTND5CMYDXMUHGRJ42HQYOSMDJZ23ZPIUWRRKM
https://testnet.algoexplorer.io/address/ZFTSGNBBFDH544IDUVB7S4B67CX6PJL6MMFJYT3GGDH2GWJ4N7H6VKRU2Y
https://testnet.algoexplorer.io/address/OH6I6P7ZFKG6I5BBHB7R6C7BLKVCRAJUV5QTR3BZQZINPLXTWD3B4MVEKA
https://testnet.algoexplorer.io/address/WSC234WDSXHLWICSZ5DVJNRZLJHHK23D3ZSP6MS2CJNII4ZDQTC367VUN4

In [5]:
# Get the holdings of one account
#asset_holdings_df(algod_client,Alice['public'])
asset_holdings_df(algod_client, 'WSC234WDSXHLWICSZ5DVJNRZLJHHK23D3ZSP6MS2CJNII4ZDQTC367VUN4')

       amount  unit   asset-id             name  decimals
0   16.753008  ALGO          0         Algorand         6
1   10.000000  USDC   10458941             USDC         6
2    1.000000  LUG1  159156668       Lugano NFT         0
3  980.000000   WSC  159159585  Peters WSC coin         2

In [6]:
# Get the holdings of all accounts
asset_holdings_list(algod_client,
                    [MyAlgo['public'], Alice['public'], Bob['public'], Charlie['public'], Dina['public']],
                    suffix = ['MyAlgo','Alice', 'Bob', 'Charlie', 'Dina'])

,amount,unit,asset-id,name,decimals,amountAlice,amountBob,amountCharlie,amountDina
0,3.424850e+01,ALGO,0,Algorand,6,20.38100,6.132000e+00,3.588,25.857
1,1.100000e+02,USDC,10458941,USDC,6,180.00025,1.999975e+01,NaN,NaN
2,0.000000e+00,DRZY,12887013,Drizzy,1,NaN,NaN,NaN,NaN
3,9.000000e+02,HUSKEN,159159432,Husky Token,2,NaN,NaN,NaN,NaN
4,1.000000e+02,DWSC,159159534,Daniels WSC coin,2,NaN,NaN,NaN,NaN
5,9.969900e+09,Beer,159171974,Beer Coin,2,NaN,3.010002e+07,NaN,NaN
6,1.670000e+01,TEMP,159173248,Peters Tempcoin,1,NaN,8.330000e+01,NaN,NaN
7,1.000000e+02,TEMPYRY,159173545,Pyrys Tempcoin,1,NaN,NaN,NaN,NaN
8,9.170000e+01,TEMPYRY,159173586,Pyrys Tempcoin,1,NaN,8.300000e+00,NaN,NaN
9,9.900000e+02,WSC,159189398,Peters WSC coin,2,NaN,1.000000e+01,NaN,NaN

### If your account(s) are short of testnet ALGOs, you can go here
- https://bank.testnet.algorand.network
- https://testnet.algoexplorer.io/dispenser